* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: black;
    color: white;
    text-align: center;
}

.body {
    background: #f0f2f5;
}

.body-main {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.left-list {
    width: 200px;
    height: 300px;
    padding-top: 28px;
    margin-right: 20px;
    background: white;
    text-align: center;
}

.img {
    width: 100px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    color: white;
    background: greenyellow;
}

ul {
    list-style: none;
}

.left-list > ul {
    margin-top: 49px;
}

.left-list > ul > li {
    text-align: left;
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}